@* @page
@model AppManager.Pages.Account.ConfirmEmailModel

<h2>E-Mail bestätigt</h2>
<p>Deine E-Mail wurde erfolgreich bestätigt. Du kannst dich nun anmelden.</p>
<p>
    <a class="btn btn-primary" asp-page="/Account/Login">Zurück zur Anmeldung</a>
</p> *@